/* MAIN BODY */

main{
  background-color: #F2B53B;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
}



/* HEADER/NAV BAR/ BURGER */

*{
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Merriweather', serif;
  background-color: #EF7E39;
}
nav {
  height: 120px;
  flex: 1;
  background-color: #EF7E39;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  /* transition: background-color 0.3s ease; */
}
/* nav:hover {
  background-color: #63A597);
} */
nav .logo{
  flex: 2;
  height: 70px;
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo i{
  margin-right: 10px;
  font-size: 45px;
}
nav ul{
  height:100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
  transition: color 350ms ease-in-out;
}
ul li:hover {
  color: #BD3241;
  cursor: pointer;
}
.hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: all 300ms ease-in-out;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #BD3241;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  left: 0;
  transition: all .25s ease-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2) {
  top: 18px;
}

.hamburger span:nth-child(3) {
  top: 36px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover span:nth-child(1) {
  background: #F2B53B;
  top: 18px;
  transform: rotate(135deg);
}

.hamburger:hover span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.hamburger:hover span:nth-child(3) {
  background: #F2B53B;
  top: 18px;
  transform: rotate(-135deg);
}

.hamburger.hamburger-close span:nth-child(1) {
  background: rgba(95, 75, 139, 1);
  top: 18px;
  transform: rotate(135deg);
}
.hamburger.hamburger-close span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.hamburger.hamburger-close span:nth-child(3) {
  background: rgba(95, 75, 139, 1);
  top: 18px;
  transform: rotate(-135deg);
}
@media (max-width: 768px) {
 nav ul.nav-list {
    display: none;
  }
/*   nav ul.nav-list.show-mobile-nav {
    display: flex;
  } */
  ul.nav-list.show-mobile-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding-top: 80px;
    background-color: black;
    color: white;
    font-size: 2em;
    box-shadow: -7px -1px 13px 0px rgba(0, 0, 0, 0.22);
  }
}
@media (min-width: 768px) {
 nav .hamburger {
    display: none;
  }
  nav ul.nav-list {
    display: flex;
  }
}



/* FOOTER / CONNECT  */

div{
  display: block;
}

header .logo h1{
  margin: 0;
  background-color: #BD3241;
  color: white;
  padding: 30px 20px 30px 20px;
  font-family: 'Arimo', sans-serif;
  font-size: 40px;
  /* position: absolute;
  bottom: -20px;
  left: 180px; */
}

footer{
  height: 90px;
  /* flex: 1; */
  background-color: #EF7E39;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

#footer > div {
  margin: 0 auto;
  padding: 30px 0px 28px;
  overflow: hidden;
  text-align: center;
}

#footer div.connect{
  background: #BD3241;
  /* float: right; */
  height: 18px;
  margin: 0px 20px 0px 150px;
  padding: 22px 20px;
  overflow: hidden;
  width: 144px;
}



/* GALLERY/STYLES STYLES */

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10, #img11, #img12, #img13, #img14, #img15, #img16{
  height: 260px;
  width: 260px;
  padding: 10px 35px 45px 40px;
}

#img1{
  grid-column: 2/3;
  grid-row: 2/3;
}

#img2{
  grid-column: 3/4;
  grid-row: 2/3;
}

#img3{
  grid-column: 4/5;
  grid-row: 2/3;
}

#img4{
  grid-column: 5/6;
  grid-row: 2/3;
}

#img5{
  grid-column: 2/3;
  grid-row: 3/4;
}

#img6{
  grid-column: 3/4;
  grid-row: 3/4;
}

#img7{
  grid-column: 4/5;
  grid-row: 3/4;
}

#img8{
  grid-column: 5/6;
  grid-row: 3/4;
}

#img9{
  grid-column: 2/3;
  grid-row: 4/5;
}

#img10{
  grid-column: 3/4;
  grid-row: 4/5;
}

#img11{
  grid-column: 4/5;
  grid-row: 4/5;
}

#img12{
  grid-column: 5/6;
  grid-row: 4/5;
}

#img13{
  grid-column: 2/3;
  grid-row: 5/6;
}

#img14{
  grid-column: 3/4;
  grid-row: 5/6;
}

#img15{
  grid-column: 4/5;
  grid-row: 5/6;
}

#img16{
  grid-column: 5/6;
  grid-row: 5/6;
}

#gallery-title{
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 50px 0px 0px 35px;
  font-size: 26px;
}